// default
$default_border_width: 1px;
$default_margin: 12px;

// button
$button_height: 24px;

// arrow button
$button_arrow_width: 16px;

// ribbon
$ribbon_height: 100px;
$ribbon_margin: 4px;
$ribbon_top_margin: 6px;

// ribbon button
$ribbon_button_arrow_width: 13px;
$ribbon_button_margin: 6px;

// ribbon group label
$ribbon_group_label_area_margin: 4px;

// ribbon gallery
$ribbon_gallery_width_01: 160px;
$ribbon_gallery_height_01: 72px;

// ribbon gallery item
$ribbon_gallery_item_height: 22px;
$ribbon_gallery_item_width: 22px;

// ribbon component
$ribbon_comp_width: 24px;
$ribbon_comp_height: 24px;

// ribbon dropdown
$ribbon_dropdown_basic_margin: 8px;
$ribbon_dropdown_separator_width: 247px;
$ribbon_dropdown_separator_height: 5px;
$ribbon_dropdown_item_height: 28px;

// ribbon dropdown shape insert gallery menu
$ribbon_dropdown_shape_insert_width: 265px;
$ribbon_dropdown_shape_insert_height: 500px;

