// default
$default_black: #000;
$default_dark: #3e4248;
$default_background_white: #fff;
$default_border_black: #040404;
$default_border_gray: #ececec;

// app
$default_app_color: #439bed;
$default_app_border_color: #7eb6ea;
$default_app_hovered_color: #dee4ea;

// ribbon
$ribbon_background_white: #fff;
$ribbon_black: #3e4248;
$ribbon_border_gray: #d5d5d5;

// ribbon dropdown
$ribbon_dropdown_background_white: #fff;
$ribbon_dropdown_border_gray: #e2e2e2;
$ribbon_dropdown_separator_gray: #d4d4d7;