@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('resource/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'), url('resource/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('resource/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'), url('resource/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('resource/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2'), url('resource/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('resource/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'), url('resource/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('resource/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2') format('woff2'), url('resource/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}
