@use 'scss/common/common_color';
@use 'scss/helper';

/*
 * 주의!
 * fonts는 한 번만 import 할 것
 */
@import 'scss/common/fonts';

.container {
  --app_color: #{helper.hex-to-rgb-string(common_color.$default_app_color)};
  --app_border_color: #{helper.hex-to-rgb-string(common_color.$default_app_border_color)};
  --app_hovered_color: #{helper.hex-to-rgb-string(common_color.$default_app_hovered_color)};

  display: flex;
  flex: 1;
  flex-direction: column;

  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  outline: 0;
  overflow: auto;
  user-select: none;
  white-space: pre-wrap; 
}

