@use 'scss/common/common_color';
@use 'scss/common/common_size';
@use 'scss/helper';

.container {
  border: var(--app_border_color);
  border-style: solid;
  border-width: common_size.$default_border_width;
  display: flex;
  flex: 1;
  overflow: hidden;
}
